!!!
%html
  %head
    %title Yoga Class Tracker
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
  %body
    %div.header Yoga Classes
    %div.mask 
      %div.content
        = yield
    %div.footer 
      %p© The Dee Tee Oh Tee Cee Boys, 2011 and beyond
