!!!
%html
  %head
    %title Yoga Class Tracker
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    %link{:rel=>'stylesheet', :href=>'/stylesheets/buttons.css', :type => "text/css"}
  %body
    %div.header
      %img{:src => '/images/header_magick2.png', :alt => 'Magick'}
    %div.nav
    %div.mask 
      %div.content
        = yield
    %div.footer 
      %img{:src => '/images/footer_quote_magick.png', :alt => 'Magick'}
